html,
body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--background1, white);
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/ubuntu-regular-webfont.woff2') format('woff2'),
    url('./fonts/ubuntu-regular-webfont.woff') format('woff');
  font-style: normal;
}

:root {
  --background1: rgb(105, 112, 175);
  --background2: rgb(255, 255, 255);
  --text1: rgb(0, 0, 0);
  --text2: rgb(0, 0, 0);
  --text-footer: rgb(0, 0, 0);
  /* font-size: 16px; */ /* Disables browser font size setting */
}

body {
  display: grid;
  grid-template: 1fr 2fr 2fr 40px / 1fr;
}

#content1 {
  grid-row: 1 / 2;
}

#content2 {
  grid-row: 2 / 3;
}

#content3 {
  grid-row: 3 / 4;
}

footer {
  grid-row: 4 /5;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  font-size: 1rem;
  color: var(--text-footer);
}
